<% var vo = data; %>
<tr data-no="<%=vo.no %>">
    <td><%=vo.no%></td>
    <td><%=vo.name%></td>
    <td><%=vo.count%></td>
    <td><%=vo.description%></td>
    <% if(vo.count == 0 && vo.name != '미분류'){ %>
    <td>
        <img class="del" src="/jblog03/assets/images/delete.jpg"/>
        <input class="del-cat-no" type="hidden" value="<%=vo.no %>" >
    </td>
    <% } else if (vo.count > 0 || vo.name == '미분류') { %>
    <td></td>
    <% } %>
</tr>
